/* Contenedor del formulario */
.form-container {
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column; /* Asegura una disposición en columna */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    
    
}

/* Título principal */
.fromProm h1 {
    text-align: left;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    color: #000000;
    margin-bottom: 40px; /* Espacio entre el título y el primer campo */
}

/* Estilo de los campos de entrada */
.inputTitulo {
    position: relative;
    width: 100%;
    left: -170px;
    height: 60px;
    margin: 20px 0;
    font-weight: bolder;
}

.inputDecripcion{
    position: relative;
    width: 100%;
    height: 60px;
    left: 171px;
    bottom: 80px;
    font-weight: bolder;
}

.inputPrecio{
    position: relative;
    width: 100%;
    left: -170px;
    height: 60px;
    font-weight: bolder;
}

.inputClaves{
    position: relative;
    width: 100%;
    height: 60px;
    left: 171px;
    bottom: 60px;
    font-weight: bolder;
}

.inputTitulo input, .inputDecripcion input, .inputPrecio input, .inputClaves input {
    width: 100%;
    height: 80%;
    color: black;
    background: #D9D9D9;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px;
}


/* Etiquetas de los campos */
.inputTitulo label, .inputDecripcion label, .inputPrecio label, .inputClaves label {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}

/* Botones */
.fromProm button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #272973;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
   
    margin: 50px 80px; /* Espacio entre botones */
}

.button-one{
    position: relative;
    align-content: center;
    left: -240px;
    width: 100%;
    height: 60px;
    margin: 20px 0;
    font-weight: bolder;
}

.button-two{
    position: relative;
    width: 100%;
    height: 60px;
    left: 95px;
    bottom: 80px;
    font-weight: bolder;
}

