body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #293a6b;
    padding: 30px 40px;
    width: 100%;
    
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-grow: 5;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links a img {
    height: 20px;
    margin-right: 8px;
}

.nav-links a:hover {
    background-color: #1f2b5b;
    border-radius: 5px;
}
